<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<title>Shoe Storage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="text-center text-info display-3">Shoe Storage</h1>
			<hr class="my-2">
			<p class="lead" th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</p>
			<form th:action="@{/logout}" method="post">
				<input class="btn btn-outline-secondary" type="submit" value="Sign Out"/>
			</form>
		</div>
	</div>
	
	<label class="col-md-4"><input class="form-control" id="inputText" type="text" placeholder="Search here.."></label>
	
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Brand</th>
				<th>Name</th>
				<th>Gender</th>
				<th>Size</th>
				<th>Price</th>
				<th>Type</th>
			</tr>
		</thead>

		<tbody id="shoeTable">
			<tr th:each="shoe : ${shoes}">
				<td th:text="${shoe.brand}"></td>
				<td th:text="${shoe.name}"></td>
				<td th:text="${shoe.gender}"></td>
				<td th:text="${shoe.size}"></td>
				<td th:text="${shoe.price}"></td>
				<td th:text="${shoe.type.typename}"></td>
				<td sec:authorize="hasAuthority('ADMIN')">
					<a class="btn btn-dark" 
					th:href="@{/delete/{id}(id=${shoe.shoeid})}">Delete</a></td>
				<td><a class="btn btn-info"
					th:href="@{/edit/{id}(id=${shoe.shoeid})}">Edit</a></td>
			</tr>
		</tbody>
	</table>

	<div class="col-md-4"><a class="btn btn-warning" href="/add">Add Shoes</a></div>
	
	<script>
	$(document).ready(function(){
  		$("#inputText").on("keyup", function() {
    		var value = $(this).val().toLowerCase();
    		$("#shoeTable tr").filter(function() {
      			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    		});
  		});
	});
	</script>
	
</body>
</html>